mixin singleCard(cardClass, headerTitle, savePerc, price, pricePerYear)
    .price-card.bg-white.py-5.px-4(class=`${cardClass}`)
        .price-card-header.border-bottom.d-flex.justify-content-between 
            p.header-title.page-title #{headerTitle}
            p.header-save Save #{savePerc}%
        .price-card-title.border-bottom.py-4
            p.card-title 
                span $#{price}
                |/mo
            p.card-subtitle.text-small Only $#{pricePerYear} per year
        .price-card-content.text-small.py-5 
            p 
                svg(width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.75781 10.7539L0.191406 6.21484C0.0638021 6.08724 0 5.92318 0 5.72266C0 5.52214 0.0638021 5.35807 0.191406 5.23047L1.20312 4.24609C1.33073 4.10026 1.48568 4.02734 1.66797 4.02734C1.86849 4.02734 2.04167 4.10026 2.1875 4.24609L5.25 7.30859L11.8125 0.746094C11.9583 0.60026 12.1224 0.527344 12.3047 0.527344C12.5052 0.527344 12.6693 0.60026 12.7969 0.746094L13.8086 1.73047C13.9362 1.85807 14 2.02214 14 2.22266C14 2.42318 13.9362 2.58724 13.8086 2.71484L5.74219 10.7539C5.61458 10.8997 5.45052 10.9727 5.25 10.9727C5.04948 10.9727 4.88542 10.8997 4.75781 10.7539Z" fill="#6D6D6D")
                | Ut consequat rhoncus nisi vel    
            p 
                svg(width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.75781 10.7539L0.191406 6.21484C0.0638021 6.08724 0 5.92318 0 5.72266C0 5.52214 0.0638021 5.35807 0.191406 5.23047L1.20312 4.24609C1.33073 4.10026 1.48568 4.02734 1.66797 4.02734C1.86849 4.02734 2.04167 4.10026 2.1875 4.24609L5.25 7.30859L11.8125 0.746094C11.9583 0.60026 12.1224 0.527344 12.3047 0.527344C12.5052 0.527344 12.6693 0.60026 12.7969 0.746094L13.8086 1.73047C13.9362 1.85807 14 2.02214 14 2.22266C14 2.42318 13.9362 2.58724 13.8086 2.71484L5.74219 10.7539C5.61458 10.8997 5.45052 10.9727 5.25 10.9727C5.04948 10.9727 4.88542 10.8997 4.75781 10.7539Z" fill="#6D6D6D")
                | Class aptent taciti sociosqu 
            p.mb-0 
                svg(width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M4.75781 10.7539L0.191406 6.21484C0.0638021 6.08724 0 5.92318 0 5.72266C0 5.52214 0.0638021 5.35807 0.191406 5.23047L1.20312 4.24609C1.33073 4.10026 1.48568 4.02734 1.66797 4.02734C1.86849 4.02734 2.04167 4.10026 2.1875 4.24609L5.25 7.30859L11.8125 0.746094C11.9583 0.60026 12.1224 0.527344 12.3047 0.527344C12.5052 0.527344 12.6693 0.60026 12.7969 0.746094L13.8086 1.73047C13.9362 1.85807 14 2.02214 14 2.22266C14 2.42318 13.9362 2.58724 13.8086 2.71484L5.74219 10.7539C5.61458 10.8997 5.45052 10.9727 5.25 10.9727C5.04948 10.9727 4.88542 10.8997 4.75781 10.7539Z" fill="#6D6D6D")
                | Proin non mattis augue. In vehicula  
        .price-card-btn  
            button.btn.btn-primary.px-5 Buy Now


mixin priceCards(orientation)
    .row.price-cards.py-5.justify-content-center(class=orientation)
        if orientation === 'horizontal'
            .col-12
                +singleCard('small','Basic', '10', '25', '85')                  
            .col-12
                +singleCard('big','Full Pack', '20', '75', '165')                  
            .col-12
                +singleCard('small','Advanced', '15', '35', '120')                  

        else if orientation === "vertical"
            .col-sm-10.col-md-6.col-xxl-4.mb-5.order-2.order-xxl-1
                +singleCard('small','Basic', '10', '25', '85')                  
            .col-sm-10.col-md-8.col-xxl-4.mb-5.order-1.order-xxl-2
                +singleCard('big','Full Pack', '20', '75', '165')                  
            .col-sm-10.col-md-6.col-xxl-4.mb-5.order-3.order-xxl-3
                +singleCard('small','Advanced', '15', '35', '120')                  
