extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/section-about/section-about
include ../components/google-map/google-map
include ../components/mini-card/mini-card

block head 
    link(rel="stylesheet", href="./css/about.css")
    title About

block content
    +hero()


    +pageTitleHover('About Us', [
        {title:'Home', link: './index.html'},
        {title:'About', link: './about.html'}
    ])


    -let stepCount = 0;
    mixin step(icon,title,text,cl)
        -stepCount++;
            .step.text-center.mt-5.mt-md-0(class= cl) 
                .step-icon.d-flex.justify-content-center.align-items-center.m-auto
                    img.img-fluid(src=`images/svgs/${icon}.svg`)
                    .step-icon-num.d-flex.justify-content-center.align-items-center= `0${stepCount}`
                h4.page-title.pt-3= title 
                p.text-regular= text
    section.steps 
        .container-lg 
            .row.title-row.justify-content-center 
                .col-12.text-center 
                    h2.page-title Steps of
                        br
                        |cooperation
                    p.text-regular.py-4 Phasellus commodo felis felis, quis blandit metus rutrum sit amet. Pellentesque  
                        br
                        |odio augue, pellentesque sed ligula at, lobortis
            .row.steps-row.justify-content-center
                .col-8.col-sm-6.col-md-4
                    +step('calendar', 'Thinking strategy', 'Curabitur porttitor viverra mi, a viverra risus sagittis at. Nulla rhoncus quis velit id varius. Aenean euism')
                .col-8.col-sm-6.col-md-4
                    +step('hourglass', 'Choice of solutions', 'Aliquam eu ultrices risus. Sed interdum lacinia sem, sed euismod purus rhoncus a. Sed tempor, neque', 'primary')
                .col-8.col-sm-6.col-md-4
                    +step('package-location', 'Route building', 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos')


    section.about-small 
        .container-lg.pt-5 
            .row 
                .col-lg-7.py-5 
                    h3.page-title Powerfull Features of Transporterium
                    p.text-regular.py-3 Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic
                    p.text-regular  
                        svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M8.5 0.390625C3.95117 0.390625 0.265625 4.10938 0.265625 8.625C0.265625 13.1738 3.95117 16.8594 8.5 16.8594C13.0156 16.8594 16.7344 13.1738 16.7344 8.625C16.7344 4.10938 13.0156 0.390625 8.5 0.390625ZM8.5 1.98438C12.1523 1.98438 15.1406 4.97266 15.1406 8.625C15.1406 12.3105 12.1523 15.2656 8.5 15.2656C4.81445 15.2656 1.85938 12.3105 1.85938 8.625C1.85938 4.97266 4.81445 1.98438 8.5 1.98438ZM13.1484 6.33398L12.3848 5.57031C12.252 5.4043 11.9863 5.4043 11.8203 5.57031L7.13867 10.2188L5.14648 8.22656C4.98047 8.06055 4.74805 8.06055 4.58203 8.22656L3.81836 8.95703C3.68555 9.12305 3.68555 9.38867 3.81836 9.52148L6.83984 12.5762C7.00586 12.7422 7.23828 12.7422 7.4043 12.5762L13.1484 6.89844C13.2812 6.73242 13.2812 6.4668 13.1484 6.33398Z" fill="#00008E")
                        |Maecenas pretium interdum mauris sed sollicitudin
                    p.text-regular  
                        svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M8.5 0.390625C3.95117 0.390625 0.265625 4.10938 0.265625 8.625C0.265625 13.1738 3.95117 16.8594 8.5 16.8594C13.0156 16.8594 16.7344 13.1738 16.7344 8.625C16.7344 4.10938 13.0156 0.390625 8.5 0.390625ZM8.5 1.98438C12.1523 1.98438 15.1406 4.97266 15.1406 8.625C15.1406 12.3105 12.1523 15.2656 8.5 15.2656C4.81445 15.2656 1.85938 12.3105 1.85938 8.625C1.85938 4.97266 4.81445 1.98438 8.5 1.98438ZM13.1484 6.33398L12.3848 5.57031C12.252 5.4043 11.9863 5.4043 11.8203 5.57031L7.13867 10.2188L5.14648 8.22656C4.98047 8.06055 4.74805 8.06055 4.58203 8.22656L3.81836 8.95703C3.68555 9.12305 3.68555 9.38867 3.81836 9.52148L6.83984 12.5762C7.00586 12.7422 7.23828 12.7422 7.4043 12.5762L13.1484 6.89844C13.2812 6.73242 13.2812 6.4668 13.1484 6.33398Z" fill="#00008E")
                        |Sed interdum lacinia sem, sed euismod purus rhoncus a
                    p.text-regular  
                        svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M8.5 0.390625C3.95117 0.390625 0.265625 4.10938 0.265625 8.625C0.265625 13.1738 3.95117 16.8594 8.5 16.8594C13.0156 16.8594 16.7344 13.1738 16.7344 8.625C16.7344 4.10938 13.0156 0.390625 8.5 0.390625ZM8.5 1.98438C12.1523 1.98438 15.1406 4.97266 15.1406 8.625C15.1406 12.3105 12.1523 15.2656 8.5 15.2656C4.81445 15.2656 1.85938 12.3105 1.85938 8.625C1.85938 4.97266 4.81445 1.98438 8.5 1.98438ZM13.1484 6.33398L12.3848 5.57031C12.252 5.4043 11.9863 5.4043 11.8203 5.57031L7.13867 10.2188L5.14648 8.22656C4.98047 8.06055 4.74805 8.06055 4.58203 8.22656L3.81836 8.95703C3.68555 9.12305 3.68555 9.38867 3.81836 9.52148L6.83984 12.5762C7.00586 12.7422 7.23828 12.7422 7.4043 12.5762L13.1484 6.89844C13.2812 6.73242 13.2812 6.4668 13.1484 6.33398Z" fill="#00008E")
                        |Donec cursus interdum purus, et fermentum
                    button.btn.btn-primary.btn-arrow.px-5.mt-5 Consultation
                    

                .col-lg-5
                    .img-container


    - 
        const achievements = [
            {
                icon: 'address',
                title: 'Address',
                details: '4621 Hill Croft Farm Road'
            },
            {
                icon:'phone-call',
                title: 'Phone',
                details: ['+8 (495) 989 20 11', '+8 (495) 969 60 12']
            }
        ]
    +sectionAbout('company', achievements)


    mixin progressBar(perc,title)
        .progress--bar.text-center 
            .progress--bar-icon.m-auto 
                img(src=`images/svgs/progress-${perc}.svg`)
                .circle.bg-white.d-flex.justify-content-center.align-items-center 
                    p.page-title.m-0 #{perc}%
            p.page-title.pt-3= title
    section.section-progress
        .container-lg.py-5 
            .row 
                .col-lg-5
                    .img-container

                .col-lg-7.pt-5.text-center.text-lg-start 
                    h3.page-title Powerfull Features of Transporterium
                    p.text-regular.py-3 Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit
                    .row.progress-bars.justify-content-center
                        .col-sm-6.col-md-4 
                            +progressBar('100', 'Cargo Insurance')
                        .col-sm-6.col-md-4 
                            +progressBar('80', 'Warehouse')
                        .col-sm-6.col-md-4 
                            +progressBar('90', 'Support 24/7')

    section.section-contacts 
        .container-lg.py-5 
            .row.pb-5.justify-content-center 
                .col-lg-6.text-center 
                    h2.page-title We provide future 
                        br
                        |of delivery
            .row.justify-content-center 
                .col-10.col-md-6.col-xl-4
                    +miniCard('phone-call','secondary','Phones',['+8 (495) 989 20 11', '+8 (495) 969 60 12']) 
                .col-10.col-md-6.col-xl-4 
                    +miniCard('address','primary','Address',['4621 Hill Croft Farm', 'Road']) 
                .col-10.col-md-6.col-xl-4 
                    +miniCard('mail','secondary','Emails',['rolso@site.com', 'rolso@support.com']) 
            .row    
                +googleMap()
