extend template.pug
include ../components/hero/hero
include ../components/page-title-hover/page-title-hover
include ../components/mini-card/mini-card

block head 
    link(rel="stylesheet", href="./css/faqs.css")
    title FAQs

block content
    +hero()


    +pageTitleHover('FAQs', [
        {title:'Home', link: './index.html'},
        {title:'About', link: './about.html'},
        {title:'FAQs', link: './faqs.html'}
    ])

    section.faqs 
        .container-xl.pb-5 
            .row.justify-content-center
                .col-lg-7.col-xl-8.pt-1.pb-5 
                    .faqs-acc.accordion(id="faq-accordion") 
                        mixin accItem(isActive,title,content,idx)
                            .accordion-item.border-0
                                .page-title.accordion-header 
                                    if isActive
                                        button.accordion-button.page-title(type="button" data-bs-toggle="collapse" data-bs-target=`#${idx}`)= title 
                                    else    
                                        button.accordion-button.collapsed.page-title(type="button" data-bs-toggle="collapse" data-bs-target=`#${idx}`)= title 
                                if isActive
                                    .accordion-collapse.collapse.show(id=`${idx}` data-bs-parent="#faq-accordion")  
                                        .accordion-body 
                                            p.text-regular= content                                 
                                else 
                                    .accordion-collapse.collapse(id=`${idx}` data-bs-parent="#faq-accordion")  
                                        .accordion-body 
                                            p.text-regular= content 


                        +accItem(true,'The right price for you, whoever you are?','Etiam id quam lacinia, vulputate neque nec, mollis quam. Donec ut quam urna. Proin bibendum risus quis sem ultricies, et vulputate erat pulvinar. Cras posuere leo nisi, non scelerisque tortor congue nec. Vivamus quis urna ac velit dapibus bibendum vitae a nibh. Suspendisse id libero eros. In dapibus bibendum sem sit amet feugiat.','one')                
                        +accItem(false,'The right price for you, whoever you are?','Donec ut quam urna. Proin bibendum risus quis sem ultricies, et vulputate erat pulvinar. Cras posuere leo nisi, non scelerisque tortor congue nec. Vivamus quis urna ac velit dapibus bibendum vitae a nibh. Suspendisse id libero eros. In dapibus bibendum sem sit amet feugiat.','two')                
                        +accItem(false,'Transporterium is the biggest transportation company','Etiam id quam lacinia, vulputate neque nec, mollis quam. In dapibus bibendum sem sit amet feugiat.','three')                
                        +accItem(false,'Powerfull Features of Transporterium','Etiam id quam lacinia, vulputate neque nec, mollis quam. Donec ut quam urna. Proin bibendum risus quis sem ultricies, et vulputate erat pulvinar. Cras posuere leo nisi, non scelerisque tortor congue nec. Vivamus quis urna ac velit dapibus bibendum vitae a nibh. Suspendisse id libero eros. In dapibus bibendum sem sit amet feugiat.','four')                
                        +accItem(false,'Awesome app which works for you','Etiam id quam lacinia, vulputate neque nec, mollis quam. Donec ut quam urna. Proin bibendum risus quis sem ultricies, et vulputate erat pulvinar. Cras posuere leo nisi, non scelerisque tortor congue nec. Vivamus quis urna ac velit dapibus bibendum vitae a nibh. Suspendisse id libero eros.','five')   

                .col-lg-5.col-xl-4
                    .faqs-contacts.px-4
                        .row.justify-content-center
                            .col-md-6.col-lg-12
                                +miniCard('phone-call','primary','Phones',['+8 (495) 989 20 11', '+8 (495) 969 60 12']) 
                            .col-md-6.col-lg-12
                                +miniCard('address','secondary','Address',['4621 Hill Croft Farm', 'Road']) 
                            .col-md-6.col-lg-12
                                +miniCard('mail','primary','Emails',['rolso@site.com', 'rolso@support.com']) 
            .row
                .col-12
                    .banner.p-5.text-white
                        h3.mb-0 Quality services
                        p.text-regular.pale.my-4 Aenean elementum justo et elit imperdiet tincidunt. Aliquam tristique
                            br
                            |nunc quis mollis pretium. Etiam ut viverra nisl. Nunc ac
                        button.btn.btn-primary.btn-arrow.px-5 Services
 
