include ../components/hero/hero
include ../components/mini-card/mini-card
include ../components/form-big/form-big

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/home2.css")
        script(type="module" src="./js/script.js") 

        title Home 2

header.header.header2.position-absolute.start-0.end-0
    .header-top.py-3.text-white 
        .container-lg
            .row.align-items-center
                .col-12.col-md-8.mb-4.mb-md-0
                    ul.d-flex.mb-0.text-regular.justify-content-center.justify-content-md-start
                        li.me-5 Trucks
                        li.me-5 Careers
                        li.me-5 Team
                        li Blog
                .col-12.col-md-4.text-center.text-md-end.pe-4
                    .header-social 
                        a(href="#") 
                            img.img-fluid(src="./images/svgs/fb.svg")
                        a.ms-5(href="#") 
                            img.img-fluid(src="./images/svgs/linkedin.svg")
                        a.ms-5(href="#") 
                            img.img-fluid(src="./images/svgs/twitter.svg")

    .header-bottom.py-4.bg-white
        .container-lg
            .row.justify-content-between.align-items-center
                .col.mobile-menu.d-lg-none.text-white
                    a.btn-inline.d-flex.py-3(data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample")
                        i.bars
                    .offcanvas.offcanvas-start(tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel")
                        .offcanvas-header.justify-content-end
                            button(type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close")
                        .offcanvas-body
                            nav
                                .nav-item
                                    a(href="./index.html") Home
                                    ul
                                        li 
                                            a(class="nav-link" href="./home2.html") Home 2
                                        li 
                                            a(class="nav-link" href="#") Home 3
                                .nav-item
                                    a(href="./about.html") About
                                    ul
                                        li
                                            a(class="nav-link" href="./quote.html") Quote
                                        li
                                            a(class="nav-link" href="./warehouse.html") Warehouse
                                        li
                                            a(class="nav-link" href="./faqs.html") FAQs
                                        li
                                            a(class="nav-link" href="./blog.html") Blog
                                        li 
                                            a(class="nav-link" href="./post.html") Post Details
                                        li
                                            a(class="nav-link" href="./404.html") 404
                                .nav-item
                                    a(href="./services.html") Services
                                    ul
                                        li
                                            a(class="nav-link" href="./service_details.html") Single Service
                                        li
                                            a(class="nav-link" href="./projects.html") Projects
                                        li
                                            a(class="nav-link" href="./calculator.html") Calculator

                                .nav-item
                                    a(href="./prices.html") Prices
                                .nav-item
                                    a(href="./contacts.html") Contacts

                .col-10.col-lg-4.text-end.text-lg-start
                    a(href="./index.html") 
                        img.img-fluid(src="./images/logo-colored.png")
                .col-8.me-0
                    nav(class="desktop-menu d-none d-lg-flex justify-content-between")
                        .nav-item.dropdown
                            a(class="nav-link dropdown-toggle" href="./index.html").
                                home
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="./home2.html") Home 2
                                li
                                    a(class="dropdown-item" href="#") Home 3
                        
                        .nav-item.dropdown
                            a(class="nav-link dropdown-toggle" href="./about.html").
                                about
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="./quote.html") Quote
                                li
                                    a(class="dropdown-item" href="./warehouse.html") Warehouse
                                li
                                    a(class="dropdown-item" href="./faqs.html") FAQs
                                li
                                    a(class="dropdown-item" href="./blog.html") Blog
                                li 
                                    a(class="dropdown-item" href="./post.html") Post Details
                                li
                                    a(class="dropdown-item" href="./404.html") 404

                        .nav-item.dropdown
                            a(class="nav-link dropdown-toggle" href="./services.html").
                                services
                            ul(class="dropdown-menu" )
                                li
                                    a(class="dropdown-item" href="./service_details.html") Single Service
                                li
                                    a(class="dropdown-item" href="./projects.html") Projects
                                li
                                    a(class="dropdown-item" href="./calculator.html") Calculator

                        .nav-item
                            a(class="nav-link" href="./prices.html") prices
                        .nav-item
                            a(class="nav-link" href="./contacts.html") contacts

+hero()
    .container-lg.py-5 
        .row.py-5 
            .col-10
                h1 Deliver Packages
                    br
                    |in any Way
            .col-7
                p.text-regular.py-4 Curabitur congue finibus lorem, at dignissim metus elementum sit amet. Mauris eget dapibus quam. Integer a ante rutrum, semper risus a, blandit elit. Nunc dolor purus, condimentum ut lorem in, tincidunt consequat erat.
                button.btn.btn-primary.btn-arrow.px-5 Consultation

section.services 
    .container-lg.tab-container.pb-5
        .row.tabs-row
            - let tabId=0
            mixin tab(title,text,svg,activeClass)
                - tabId++
                .tab.py-3.ps-5.h-100(data-idx=`${tabId}` class= activeClass)
                    .tab-inner.py-5.d-flex.align-items-center
                        .tab-icon 
                            img.colored-svg(src=`./images/svgs/${svg}.svg`)
                            img.white-svg(src=`./images/svgs/${svg}-white.svg`)
                        .tab-content.px-3
                            h5.page-title= title
                            p.text-regular.pale.mb-0= text

            .col-4.tab-col.px-0 
                +tab('Road Freight','Ut consequat rhoncus nisi vel mollis. Lorem ips','truck','active')
            .col-4.tab-col.px-0 
                +tab('Shipping Freight','Quisque cidunt malesuada tincidunt. In mattis rut','cargo-ship')
            .col-4.tab-col.px-0 
                +tab('Air Freight','Duis tempor risus vel sollicitudin euism','fast-delivery')

        .row.contents-row
            - let contentId=0;
            mixin tabContent(title,text,activeClass)
                - contentId++
                .tab-content(data-idx=`${contentId}` class= activeClass)
                    .row.align-items-center 
                        .col-5 
                            .tab-content-img
                        .col-7
                            h2.page-title.pt-5= title
                            p.text-regular.py-5= text
                            .row.tab-content-contacts 
                                .col-6
                                    +miniCard('address','primary','Address',['4621 Hill Croft Farm', 'Road'])
                                .col-6 
                                    +miniCard('phone-call','secondary','Phone',['+8 (495) 989 20 11', '+8 (495) 969 60 12'])
            .col-12.px-0
                +tabContent('Powerfull Features of Transporterium', 'Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic', 'active')
                +tabContent('Powerfull Features of Transporterium', 'Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic')
                +tabContent('Powerfull Features of Transporterium', 'Pellentesque dignissim tempor erat dapibus hendrerit. Nam fringilla commodo lobortis. Quisque aliquet commodo orci. Pellentesque dignissim tempor erat dapibus hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridic')

section.banner.my-5
    .container-lg
        .row.text-white
            .col-6
                h2 Transporterium services
            .col-3 
                .counter-title-plus 
                    span.count 1255
                    |+
                .p.text-regular.pale Delivered packages
            .col-3
                .counter-title-text  
                    span.count 50
                    |years
                .p.text-regular.pale Miles driven each of the year

section.quote-form 
    .container-lg.form-container.bg-white
        .row.justify-content-center.py-5
            .col-12.col-lg-10.p-5
                +formBig()

section.steps 
    .container-lg.py-5 
        .row.pb-5 
            .col-12.text-center 
                h2.page-title Steps of 
                    br
                    |cooperation
                p.text-regular Phasellus commodo felis felis, quis blandit metus rutrum sit amet. Pellentesque
                    br
                    |odio augue, pellentesque sed ligula at, lobortis
        .row.steps-row.justify-content-between
            -let stepCount = 0;
            mixin step(title,text,color)
                -stepCount++;
                    .step.mt-5.mt-md-0 
                        p.step-watermark.mb-0(class= color)= `0${stepCount}`
                        h4.page-title.pt-3.ps-3= title 
                        p.text-regular.ps-3= text
            .col-3.px-0 
                +step('Thinking strategy','Curabitur porttitor viverra mi, a viverra risus sagittis at. Nulla rhoncus quis velit id varius. Aenean euism','primary')
            .col-3.px-0.pt-5 
                +step('Choice of solutions','Pellentesque id sollicitudin dolor. Suspendisse in porta turpis, nec commodo risus','secondary')
            .col-3.px-0 
                +step('Route building','Mauris eu velit ac mauris tincidunt mattis. Etiam cursus vel orci non viverra. Cras mollis posuere laoreet','primary')

section.gallery 
    .container-fluid.py-5
        .row 
            .col-4.px-0 
                .gallery-banner.text-white.p-5 
                    h5 Provide quick
                        br
                        |tracking your cargo
                    p.text-regular.pale Class aptent taciti sociosqu ad litora torquent per conubia nostra orci malesuada
                    p.call-us.pt-3 Call us for consultation 
                    h3
                        span.text-white +8 (495) 989 20 11
            .col-2.px-0
                img.img-fluid.h-100(src="./images/cats/blue-cat-1.jpg")
            .col-2.px-0
                img.img-fluid.h-100(src="./images/cats/blue-cat-2.jpg")
            .col-2.px-0
                img.img-fluid.h-100(src="./images/cats/blue-cat-3.jpg")
            .col-2.px-0
                img.img-fluid.h-100(src="./images/cats/blue-cat-4.jpg")

section.testimonials 
    .container-lg.py-5 
        .row
            .col-12.text-center 
                h2.page-title People and companies 
                    br
                    |who            
                    span trust us
        .row.justify-content-center
            .col-8 
                .carousel.slide(data-bs-ride="carousel")
                    .carousel-inner
                        mixin testimonial(text,img,name,details)
                            .testimonial.bg-white.px-5.pt-5.mx-2
                                .testimonial-text
                                    p.text-regular= text 
                                .testimonial-autor
                                    .row.align-items-end
                                        .col-3.pe-0
                                            img.img-fluid(src=`./images/cats/${img}.jpg`)
                                        .col.px-0
                                            h5.page-title.mb-0= name 
                                            p.text-regular.mb-0= details

                        .carousel-item.active 
                            +testimonial('Vivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit rhoncus. Donec interdum ante a tellus convallis consequat. In facilisis a lorem sit amet venenatis. Integer imperdiet eget massa consectetur feugiat. Pellentesque gravida magna','blue-cat-1','Brady Jones','CEO, Rondo Company')
                        .carousel-item
                            +testimonial('Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit rhoncus. Donec interdum ante a tellus convallis consequat. In facilisis a lorem sit amet venenatis. Integer imperdiet eget massa consectetur feugiat. Pellentesque gravida magna','blue-cat-2','Ken Adams','CEO, Ichiban Company')
                        .carousel-item
                            +testimonial('Donec interdum ante a tellus convallis consequat. In facilisis a lorem sit amet venenatis. Integer imperdiet eget massa consectetur feugiat. Pellentesque gravida magnaVivamus eu luctus nulla. Nam sollicitudin quam ac venenatis venenatis. Vivamus ornare velit a eros imperdiet, ac cursus elit rhoncus.','blue-cat-3','Regina Phalange','CEO, SmellyCat Company')
                        .carousel-item
                            +testimonial('In facilisis a lorem sit amet venenatis. Vivamus eu luctus nulla. Donec interdum ante a tellus convallis consequat. Integer imperdiet eget massa consectetur feugiat. Pellentesque gravida magna','blue-cat-4','Lesly Bright','CEO, Rolso Company')

        .row.py-5.mt-5
            .col-3 
                img.img-fluid.border(src="./images/company-logo-1.jpg")
            .col-3 
                img.img-fluid.border(src="./images/company-logo-2.jpg")
            .col-3 
                img.img-fluid.border(src="./images/company-logo-3.jpg")
            .col-3 
                img.img-fluid.border(src="./images/company-logo-4.jpg")